@font-face {
  font-family: 'Gotham';
  src:         url('../assets/fonts/Gotham/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Gotham';
  src:         url('../assets/fonts/Gotham/GothamPro-Medium.woff') format('woff');
  font-weight: bold;
  font-style:  normal;
}

@font-face {
  font-family: 'Coquette';
  src:         url('../assets/fonts/Coquette/Coquette-Light.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}

