footer,
header,
main {
  font-family: $font-family-default;

  a {
    transition: color $transition-hover-off;

    @include hover() {
      color:      $color-red;
      transition: color $transition-hover-on;
    }
  }
}

.wrapper {
  max-width:  1480px;
  padding:    50px;
  margin:     0 auto;
  box-sizing: border-box;

  &.m-full-screen{
    max-width: none;
  }
}

.mod-visible {
  visibility: visible;
}

.mod-hidden {
  visibility: hidden;
}

.game-points {
  visibility: hidden;
}
