// Размеры экрана
$screen-sm:            320px;
$screen-md:            768px;
$screen-lg:            1280px;
$screen-xl:            1920px;

// Переходы
$transition-slow:      .35s;
$transition-normal:    .25s;
$transition-medium:    .15s;
$transition-fast:      .1s;

// Переходы для ховера
$transition-hover-on:  $transition-fast;
$transition-hover-off: $transition-slow;

// Шрифты
$font-family-default:  'Gotham', 'Helvetica', 'Arial', sans-serif;
$font-family-second:   'Coquette', 'Helvetica', 'Arial', sans-serif;

// Цвета
$color-text-default:   black;
$color-text-light:     #AFD9C3;

$color-accent-1:       #AFD9C3;
$color-accent-2:       #10696D;
$color-background:     #F4EFE9;

$color-beige:          #F4EFE9;
$color-brown:          #C27352;
$color-red:            #FC421D;
$color-purple:         #8D0C68;
$color-green:          #00A1AD;
$color-green-correct:  #16cc2b;

$color-temp-1:         #2e2e31;

// Footer colors
$color-green:          #99C1A9;
$color-orange:         #FFA012;
// End footer colors