head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title=meta.title
  meta(name='description', content=meta.description)
  meta(name='keywords', content=meta.keywords)

  meta(name='theme-color', content=meta.themeColor)

  include styles
  include favicon
  include opengraph