section.game-info
  article.game-info__item.m-single
    img.game-info__img(src='assets/img/dino/single-dino.jpg')
    .game-info__info
      h2.game-info__title Индивидуальные задания
      .game-info__text
        p Игры на&nbsp;улучшение внимания и&nbsp;памяти
        p Веселые и&nbsp;полезные занятия с&nbsp;ребенком
      a.button.t-green.game-info__btn(href='individual.html') Начать заниматься

  article.game-info__item
    h2.game-info__title командные игры
    .game-info__text
      p Игры для взаимодействия детей
      p Развитие быстродействия, логики и&nbsp;внимания
    .game-info__team
      a.button.t-green.game-info__btn.t-2(href="team.html") Начать заниматься
      img.game-info__img(src='assets/img/dino/two-dino.jpg')