section.winner(:class="{'m-win':gameEnd.end}")
  p {{gameEnd.text}}
  .winner__container(:class="{'m-win': gameEnd.success}")
    img.winner__home(src='assets/img/games/wayHome/game-end/home-success.svg',)
    img.winner__key(src='assets/img/games/wayHome/game-end/key.svg', id='key')
  .winner__container(:class="{'m-win': gameEnd.fail}")
    img.winner__home(src='assets/img/games/wayHome/game-end/home-fail.svg')
    img.winner__tears(src='assets/img/games/wayHome/game-end/tears.svg')
  .winner__buttons
    a.button.t-white(v-if="gameEnd.fail" href='gameWayHome.html') Попробовать снова
    a.button.t-white(v-if="gameEnd.success" href='wayHomeStart.html') Сыграть еще раз
    a.button.t-green.t-scale(href='individual.html') Закончить игру