section.game-iknow.wrapper(v-if='isGame')
  h1.t-h1 Игра "Я знаю!"

  section.game-iknow__game
    p.game-iknow__player отвечает
      span.js-finds-player {{currentPlayerName}}
    table.game-iknow__table
      tr.js-iknow-game(v-for='theme in currentThemes')
        td.game-iknow__item.m-text {{theme.theme}}
        td.game-iknow__item(v-for='question in theme.questions'
        :class="{'m-correct': question.success, 'm-wrong': question.fail}")
          button(type='button' @click='setQuestion(question,theme.theme)')
            img(v-if='question.points === 10' src='assets/img/games/iKnow/ten.svg')
            img(v-if='question.points === 50' src='assets/img/games/iKnow/fifty.svg')
            img(v-if='question.points === 100' src='assets/img/games/iKnow/one-hundred.svg')

    button.button.t-green(type='button' @click='endGame()') Закончить игру