.game-iknow {

  &__game {
    display:       block;
    margin-top:    -40px;
    margin-bottom: 40px;
    text-align:    center;
  }

  &__table {
    display: block;
    margin:  0 auto 30px;
    width:   1001px;
  }

  &__item {
    width:      250px;
    height:     190px;
    padding:    30px 70px;
    box-sizing: border-box;
    border:     thin solid black;

    button {
      width: 100%;
    }

    @include hover {
      cursor:     pointer;
      background: white;
    }

    &.m-correct {
      position: relative;

      &:after {
        content:    '';
        position:   absolute;
        top:        0;
        bottom:     0;
        left:       0;
        right:      0;
        background: rgba($color-green, 0.5);
      }

      @include hover {
        pointer-events: none;
        background:     transparent;
      }
    }

    &.m-wrong {
      position: relative;

      &:after {
        content:    '';
        position:   absolute;
        top:        0;
        bottom:     0;
        left:       0;
        right:      0;
        background: rgba($color-red, 0.35);
      }

      @include hover {
        pointer-events: none;
        background:     transparent;
      }
    }

    &.m-text {
      padding:    15px 30px;
      text-align: left;

      @include hover {
        pointer-events: none;
        background:     transparent;
      }
    }
  }

  &__player {
    text-align: right;
    width:      1000px;
    margin:     0 auto;

    span {
      font-weight: bold;
      margin-left: 10px;
    }
  }

}