.button {
  @include font-size(18px, normal, 22px);
  display:       inline-block;
  box-sizing:    border-box;
  border-radius: 36px;
  text-align:    center;
  white-space:   nowrap;
  padding:       15px 20px;
  min-width:     150px;
  position:      relative;
  z-index:       1;
  background:    $color-beige;
  color:         $color-accent-2;

  &:before {
    visibility:      hidden;
    width:           70%;
    content:         "";
    background:      url("../assets/img/other/spikes.svg") repeat-x;
    background-size: 100%;
    position:        absolute;
    top:             0;
    left:            23px;
    bottom:          100%;
    transition:      all $transition-hover-off;
  }

  &.t-green {
    font-weight: bold;
    background:  $color-accent-2;
    color:       white;
  }

  @include hover {
    background: $color-red;
    color:      white;
    transition: all $transition-hover-on;

    &:before {
      visibility: visible;
      top:        -12px;
    }
  }

  &.t-white {
    background:  white;
    font-weight: bold;
    color:       $color-accent-2;

    @include hover {
      transform:  scale(1.15);
      transition: transform $transition-hover-on;


      &:before {
        display: none;
      }
    }
  }

  &.t-correct {
    background:  $color-accent-1;
    font-weight: bold;
    color:       $color-accent-2;
  }

  &.t-wrong {
    background:  rgba($color-red, 0.7);
    font-weight: bold;
    color:       white;
  }

  &.t-scale{
    @include hover {
      transform:  scale(1.15);
      transition: transform $transition-hover-on;


      &:before {
        display: none;
      }
    }
  }
}