body {
  @include display-flex(column, stretch, stretch);
  @include font-size(20px, normal, 24px);
  width:      100%;
  min-height: 100%;
  overflow-x: hidden;
  background: $color-background;
  position:   relative;

  &.m-overflow {
    overflow: hidden;
  }
}
