.game-blitz {
  text-align: center;

  &__game {
    position:      relative;
    margin-top:    -50px;
    margin-bottom: 30px;
  }

  &__timer {
    position: absolute;
    right:    60px;
    top:      0;
    width:    160px;
    z-index:  1;

    img {
      width:   100%;
      z-index: -1;
    }

    p {
      margin-top:  -93px;
      color:       $color-accent-2;
      font-size:   30px;
      font-weight: bold;
    }
  }

  &__player {
    text-align: right;
    width:      630px;
    margin:     0 auto;

    span {
      font-weight:  bold;
      margin-left:  10px;
      margin-right: 20px;
    }
  }

  &__question {
    @include display-flex(row, center, center);
    width:         630px;
    min-height:    240px;
    margin:        0 auto;
    padding:       30px 50px;
    box-sizing:    border-box;
    border-radius: 20px;
    background:    white;
    text-align:    center;
  }

  &__answers {
    @include display-flex();
    flex-wrap: wrap;
    width:     420px;
    margin:    40px auto;
  }

  &__item {
    display:       block;
    padding:       25px 20px;
    font-size:     20px;
    line-height:   25px;
    width:         210px;
    height:        75px;
    box-sizing:    border-box;
    border-right:  thin solid black;
    border-bottom: thin solid black;

    &:first-child {
      border: thin solid black;
    }

    &:nth-child(2) {
      border-top: thin solid black;
    }

    &:nth-child(3) {
      border-left: thin solid black;
    }

    @include hover {
      cursor:     pointer;
      background: white;
    }

    &.m-correct {
      background: transparent;
      animation:  correctLoss 1s;
    }

    &.m-wrong {
      background: transparent;
      animation:  wrongLoss 1s;
    }
  }
}