section.game-blitz.wrapper#vue-game-blitz
  h1.t-h1 Игра "Блицтурнир"

  section.game-blitz__game
    .game-blitz__timer
      img(src='assets/img/other/clock.png', alt='clock')
      p {{timer}}
    p.game-blitz__player отвечает
      span {{currentPlayerName}}
    p.game-blitz__question {{currentQuestion.question}}
    .game-blitz__answers
      button.game-blitz__item(
        v-for='answer in currentQuestion.answers'
        type='button'
        @click='checkAnswer(answer)'
        :class = "{'m-correct': answer.success, 'm-wrong': answer.error}"
      ) {{answer.text}}
    button.button.t-green(type='button' @click='endGame()') Закончить игру