section.main-info
  h1.t-h1 Детский развивающий сайт Меморик

  img.main-info__img(src='assets/img/dino/main-dino.png')

  section.main-info__text
    p.t-p1 &laquo;Меморик&raquo; направлен на&nbsp;развитие памяти и&nbsp;внимания детей от&nbsp;5&nbsp;до&nbsp;11&nbsp;лет
    p.t-p1 Дошколята смогут поготовиться к&nbsp;школе, а&nbsp;школьники младшего возраста&nbsp;&mdash; к&nbsp;средней школе
    p.t-p2 &laquo;Меморик&raquo; помогает детям развивать память и&nbsp;внимание, благодаря различным играм, основанных на&nbsp;различных методиках. Играя, ребенок сможет не&nbsp;только весело провести время, но&nbsp;и&nbsp;улучшить свою памть и&nbsp;расширить кругозор

  include game-info/game-info