section.profile
  h1.t-h1 Личный кабинет

  table.profile__table
    tr.profile__result.m-head
      th.profile__title Игра
      th.profile__title Результат
      th.profile__title Дата
      th.profile__title Время
    tr.profile__result
      td.profile__game Потеряшка
      td.profile__game 10/10
      td.profile__game.m-time 10 октября
      td.profile__game.m-time 12 минут
    tr.profile__result
      td.profile__game Потеряшка
      td.profile__game 10/10
      td.profile__game.m-time 10 октября
      td.profile__game.m-time 12 минут
