include ../../blocks/_mixins/icons

doctype html
html(lang='ru')

  include ../includes/meta

  body
    block clouds
      .clouds(id='clouds')
        .clouds.layer-1(data-depth="0.1")
        .clouds.layer-2(data-depth="0.5")

    block popup
      include ../../blocks/popup/popup

    script(src="scripts/debug.bundle.js")

    block header
      include ../../blocks/header/header

    block container

    block footer
      include  ../../blocks/footer/footer

    block scripts
      include ../includes/scripts
