section.wrapper.game-loss
  h1.t-h1 Игра "Потеряшка"

  section.game-loss__game
    .game-loss__find
      .game-loss__picture
        p.game-loss__background
          img(:src='correctAnswer.src')
      a.button.t-green(href='individual.html') Закончить игру

    .game-loss__cupboard
      img.game-loss__cupb(src='assets/img/games/loss/cupboard.svg')
      .game-loss__toys
        button(type='button' v-for="toy in currentToys" @click='checkAnswer(toy)')
          img(
            :src="toy.src"
            :class = "{'m-correct': toy.success, 'm-wrong': toy.error}"
            )
