footer.footer
  img.footer__field(src="assets/img/footer/field.svg", alt='field')

  section.footer__content
    .wrapper.footer__wrapper
      a.footer__logo.t-link-memory(href="index.html")
        img(src="assets/img/logo/logo.svg", alt='logo')
        p.footer__name еморик
      section.footer__games
        a(href="individual.html") Индивидуальные игры
        a(href="team.html") Командные игры
      section.footer__media
        p.footer__author
          span Разработчик: Немирова Дарья Алексеевна.
          span Сайт разработан в&nbsp;качестве учебного проекта, все совпадения с&nbsp;реальностью случайны.
        section.footer__social
          a(href='#').footer__link
            +svgIcon(40,40,'#i-teleg-footer')
          a(href='#').footer__link
            +svgIcon(40,40,'#i-vk-footer')

  section.footer__note
    p “Меморик” - проект для конкурса "IT-Архангельск" по web-разработке

