.footer {
  @include font-size(18px, normal, 36px);
  width:   100%;
  z-index: 1;

  &__field {
    width:         100%;
    height:        auto;
    margin-bottom: -7px;
  }

  &__content {
    background: $color-accent-1;
  }
  &__wrapper {
    @include display-flex($justify: space-around);
  }

  &__logo {
    @include font-size(36px, normal, 46px);
    @include display-flex($align: flex-end);
    font-family: $font-family-second;
  }

  &__info {
    @include display-flex();
  }

  &__games {
    @include display-flex(column);
    margin-right: 70px;
  }

  &__author {
    @include font-size(12px, normal, 18px);
    @include display-flex(column);
    width: 460px;
  }

  &__social {
    margin-top: 10px;
    text-align: center;
  }

  &__link {
    display:      inline-block;
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    @include hover {
      transform:  scale(1.1);
      transition: transform $transition-hover-on;
    }
  }

  &__note {
    padding:    25px 56px;
    box-sizing: border-box;
    background: $color-green;
    color:      white;
    text-align: center;
  }

}