.game-finds {

  &__game {
    @include display-flex(row, center, space-between);
    width:      100%;
    padding:    0 120px 30px;
    margin-top: -50px;
    box-sizing: border-box;
    position:   relative;
  }

  &__find {
    text-align: center;
  }

  &__player {
    position: absolute;
    bottom:   100%;
    right:    130px;

    span {
      font-weight: bold;
      margin-left: 7px;
    }
  }

  &__field {
    @include display-flex();
    flex-wrap: wrap;
    width:     630px;
    height:    490px;

    img {
      width:         58px;
      height:        58px;
      padding:       6px;
      border-radius: 10px;

      @include hover {
        cursor:           pointer;
        background-color: rgba($color-purple, 0.5);
      }

      &.m-correct {
        background: transparent;
        animation:  correctLoss 1s;
      }

      &.m-wrong {
        background: transparent;
        animation:  wrongLoss 1s;
      }
    }
  }
}