extends templates/main

block container
  main.main
    include ../blocks/timer/timer
    section#vue-game-loss
      include ../blocks/game-loss/game-loss
      include ../blocks/game-loss/winner/winner

block footer

block clouds

block append scripts
  script(src="scripts/vueGameLoss.bundle.js")
