extends templates/main

block container
  main.main
    include ../blocks/timer/timer
    include ../blocks/game-finds/game-finds

block footer

block clouds

block append scripts
  script(src="scripts/vueGameFinds.bundle.js")