extends templates/main

block container
  main.main
    include ../blocks/timer/timer
    include ../blocks/game-blitz/game-blitz

block footer

block clouds

block append scripts
  script(src="scripts/vueGameBlitz.bundle.js")