extends templates/main

block container
  main.main.wrapper
    include ../blocks/game-iknow/question/question

block footer

block clouds

block append scripts
  script(src="scripts/vueGameIKnowQuestion.bundle.js")