extends templates/main

block container
  main.main.wrapper
    include ../blocks/game-way-home/start/start

block footer

block clouds

block append scripts
  script(src="scripts/vueGameWayHomeStart.bundle.js")