.game-way-home {
  max-width: 1280px;
  margin:    0 auto;

  &__game {
    display:  block;
    margin:   -50px auto 0;
    position: relative;
    z-index:  1;
  }

  &__map {
    position:  absolute;
    top:       0;
    left:      50%;
    transform: translateX(-50%);
    z-index:   -1;
  }

  &__homes {
    img {
      margin-left:  auto;
      padding-top:  44px;
      margin-right: 343px;

      @include hover {
        cursor:    pointer;
        transform: scale(1.15);
      }

      &:nth-child(2) {
        margin-left:  507px;
        padding-top:  0;
        margin-right: 0;
        margin-top:   -73px;
      }

      &:last-child {
        margin-left:  150px;
        margin-right: 0;
        margin-top:   230px;
        padding:      0;
        transform:    rotate(-90deg);

        @include hover {
          cursor:    pointer;
          transform: rotate(-90deg) scale(1.15);
        }
      }
    }
  }

  &__player {
    left:     474px;
    position: absolute;
    bottom:   -200px;
  }
}