section.winner(:class="{'m-win': end}")
  p Молодец! Ты прошел игру!
  img.winner__dino(src='assets/img/dino/space.png')
  .winner__buttons
    a.button.t-white(href='gameLoss.html') Еще раз
    a.button.t-green.t-scale(href='individual.html') Закончить игру