section.start
  h1.t-h1 Игра "Путь домой"

  section.start__rules#vue-game-way-home-start
    p.start__remember Запомни правильное направление и&nbsp;приведи динозаврика к&nbsp;своему дому
    .start__elements
      img(v-for='arrow in currentWay.waySrc' :src='arrow')

    .start__action
      p Кажда стрелочка указывет направление до перекрестка
    .start__goodluck
      img.start__player(src='assets/img/games/sprinter/player1.svg')
      .start__btn
        p Удачи тебе!
        a.button.t-green(href='gameWayHome.html') Играть