section.winner
  p Победил
  .js-winner
    img.winner__img(src='assets/img/games/sprinter/player3.svg', id='winner3')
    img.winner__img(src='assets/img/games/sprinter/player2.svg', id='winner2')
    img.winner__img(src='assets/img/games/sprinter/player1.svg', id='winner1')
  .winner__buttons
    a.button.t-white(href='sprinterStart.html') Еще раз
    a.button.t-green.t-scale(href='individual.html') Закончить игру