header.header
  a.header__logo(href="index.html")
    img.header__img(src="assets/img/logo/logo.svg", alt='logo')

  .header__games
    a.header__link.t-link1(href="individual.html") Индивидуальные игры
    a.header__link.t-link1(href="team.html") Командные игры