.popup {
  position:   fixed;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;
  z-index:    2;
  margin-top: 100px;
  text-align: center;
  font-family: $font-family-default;

  img {
    width:    100%;
    position: fixed;
    top:      0;
    z-index:  -1;
  }

  &__container {
    @include display-flex(column, center, space-between);
    height: 66%;
  }

  &__elements {
    @include display-flex(row, baseline, space-between);
    width: 70%;
  }

  &__clock {
    width:       200px;
    color:       $color-accent-2;
    position:    relative;
    font-size:   30px;
    font-weight: bold;
    text-align:  center;
    padding-top: 88px;
    z-index:     2;

    img {
      width:    100%;
      position: absolute;
      top:      0;
      z-index:  -1;
    }
  }

  &__text {
    color:       white;
    font-size:   30px;
    line-height: 36px;
    font-weight: bold;
  }
}