section.popup.mod-hidden
  .popup__container
    .popup__text
      p Нужно немножко отдохнуть!
      p Ты&nbsp;занимаешься уже целый час.
      p Сделай разминку и&nbsp;дай глазкам отдохнуть!

    .popup__elements
      .popup__clock
        img(src='assets/img/other/clock.png')
        span(id='js-rest-time')

      button.button.t-white(id='js-hide-popup') Я готов продолжать

  img(src='assets/img/other/timeUp.jpg')


